<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Form category</title>
    <link th:href="@{/css/style.css}" type="text/css" rel="stylesheet">
</head>
<body>
<h1>Add Categories</h1>
<form th:action="@{/addCat}" th:object="${category}" method="post">
    <div class="mb-3">
        <label for="name" class="form-label">Name of the category</label>
        <input type="text" id="name" class="form-control" th:field="*{name}" placeholder="Traditionnal" >
        <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></span>
    </div>
    <div class="mb-3">
        <label for="description" class="form-label">Description of category</label>
        <input type="text" id="description" class="form-control" th:field="*{description}" placeholder="Cultural meal" >
        <span th:if="${#fields.hasErrors('description')}" th:errors="*{description}"></span>
    </div>



    <button  class="btn btn-success">Add Recipe</button>
</form>
<footer>
    <nav>
        <a th:href="@{/}">Home Page</a>
    </nav>
</footer>
</body>
</html>